USE [MyGuitarShop]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Milton Cruz
-- Create date: 11/13/2025
-- Update date: 
-- Description:	Create a customer
-- Exec CreateCustomer @EmailAddress = 'john.doe@test.com', @Password = 'a12ffbdd8d2026e489346a188536eb90b36183ec', @FirstName = 'John', @LastName = 'Doe'
-- =============================================
CREATE PROCEDURE [dbo].[CreateCustomer]
	@EmailAddress varchar(255),
    @Password varchar(60),
	@FirstName varchar(60),
    @LastName varchar(60)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO [dbo].[Customers]
           ([EmailAddress]
          ,[Password]
          ,[FirstName]
          ,[LastName]
          ,[DateCreated])
     VALUES
           (@EmailAddress,
           @Password,
           @FirstName,
           @LastName,
		   CURRENT_TIMESTAMP)
END
