USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 11/10/2025 11:54:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Milton Cruz
-- Create date: 10/27/2025
-- Description:	Delete a product
-- exec DeleteProduct @ProductID = 11, @IsActive = 0
-- =============================================
CREATE PROCEDURE [dbo].[DeleteProduct]
	@ProductID int,
	@Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @Delete = 1
		DELETE FROM [dbo].[Products]
		WHERE ProductID = @ProductID
	ELSE
		UPDATE [dbo].[Products]
		SET [DateUpdated] = CURRENT_TIMESTAMP
		  ,[IsActive] = 0
		WHERE ProductID = @ProductID
END
