USE [MyGuitarShop]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Milton Cruz
-- Create date: 11/13/2025
-- Update date: 
-- Description:	Delete a customer
-- exec DeleteCustomer @CustomerID = 11, @Delete = 0
-- =============================================
CREATE PROCEDURE [dbo].[DeleteCustomer]
	@CustomerID int,
	@Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @Delete = 1
		DELETE FROM [dbo].[Customers]
		WHERE CustomerID = @CustomerID
	ELSE
		UPDATE [dbo].[Customers]
		SET [DateUpdated] = CURRENT_TIMESTAMP
		  ,[IsActive] = 0
		WHERE CustomerID = @CustomerID
END
