USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[GetAllProducts]    Script Date: 11/24/2025 2:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Milton Cruz
-- Create date: 10/23/2025
-- Description:	Gets all products
-- exec GetAllProducts
-- =============================================
CREATE PROCEDURE [dbo].[GetAllProducts]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT TOP (10) [ProductID]
      ,P.[CategoryID]
      ,C.[CategoryName]
      ,[ProductCode]
      ,[ProductName]
      ,[Description]
      ,[ListPrice]
      ,[DiscountPercent]
      ,[DateAdded]
	FROM [MyGuitarShop].[dbo].[Products] AS P
    LEFT JOIN [MyGuitarShop].[dbo].[Categories] AS C
    ON P.CategoryID = C.CategoryID
    WHERE P.IsActive = 1
    ORDER BY [DateAdded] DESC
END
