USE [MyGuitarShop]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Milton Cruz
-- Create date: 11/13/2025
-- Update date: 
-- Description:	Return customer
-- exec GetCustomer @CustomerId = 1 
-- =============================================
CREATE PROCEDURE [dbo].[GetCustomer]
	@CustomerId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT TOP (1) [EmailAddress]
          ,[Password]
          ,[FirstName]
          ,[LastName]
	FROM [MyGuitarShop].[dbo].[Customers]
	WHERE CustomerID = @CustomerId;
END
