USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[GetProduct]    Script Date: 11/13/2025 1:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Milton Cruz
-- Create date: 10/23/2025
-- Description:	Get a product
-- exec GetProduct @ProductId = 1
-- =============================================
CREATE PROCEDURE [dbo].[GetProduct]
	@ProductId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT TOP (1) [ProductID]
      ,[CategoryID]
      ,[ProductCode]
      ,[ProductName]
      ,[Description]
      ,[ListPrice]
      ,[DiscountPercent]
      ,[DateAdded]
	FROM [MyGuitarShop].[dbo].[Products]
	WHERE ProductID = @ProductId;
END
