USE [MyGuitarShop]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Milton Cruz
-- Create date: 10/27/2025
-- Description:	Update a product
-- exec UpdateProduct @ProductID = 11, @CategoryID = 2, @ProductCode = New, @ProductName = 'New Product Update', @Description = 'New Product Desp Update', @ListPrice = 15.00, @DiscountPercent = 11.00, @IsActive = 0
-- =============================================
CREATE PROCEDURE [dbo].[UpdateProduct]
	@ProductID int,
	@CategoryID int,
	@ProductCode varchar(10),
	@ProductName varchar(255),
	@Description text,
	@ListPrice money,
	@DiscountPercent money,
	@IsActive bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE [dbo].[Products]
	SET [CategoryID] = @CategoryID
		  ,[ProductCode] = @ProductCode
		  ,[ProductName] = @ProductName
		  ,[Description] = @Description
		  ,[ListPrice] = @ListPrice
		  ,[DiscountPercent] = @DiscountPercent
		  ,[DateUpdated] = CURRENT_TIMESTAMP
		  ,[IsActive] = @IsActive
	WHERE ProductID = @ProductID
END
