USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomer]    Script Date: 11/24/2025 3:05:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Milton Cruz
-- Create date: 11/13/2025
-- Update date: 
-- Description:	Update a customer
-- exec UpdateCustomer @CustomerId = 11, @EmailAddress = 'john.doe@test.com', @Password = 'a12ffbdd8d2026e489346a188536eb90b36183ec', @FirstName = 'John', @LastName = 'Doe', @ShippingAddressId = 1, @ShippingAddressId = 3
-- =============================================
ALTER PROCEDURE [dbo].[UpdateCustomer]
	@CustomerId int,
	@EmailAddress varchar(255),
    @Password varchar(60),
	@FirstName varchar(60),
    @LastName varchar(60),
	@ShippingAddressId int,
	@BillingAddressId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	UPDATE [dbo].[Customers]
	SET [EmailAddress]       = COALESCE(@EmailAddress, [EmailAddress]),
		[Password]           = COALESCE(@Password, [Password]),
		[FirstName]          = COALESCE(@FirstName, [FirstName]),
		[LastName]           = COALESCE(@LastName, [LastName]),
		[ShippingAddressID]  = COALESCE(@ShippingAddressId, [ShippingAddressID]),
		[BillingAddressID]   = COALESCE(@BillingAddressId, [BillingAddressID]),
		[DateUpdated]        = CURRENT_TIMESTAMP
	WHERE CustomerID = @CustomerId
END
